html
  head
    title= title
  body
    h1= message
    img(src="https://www.pinterest.ru/pin/726768458596510171/?nic=1a", alt="Текст если нет картинки")
    h2= 'И тут текст'
    a(href="./page2") Ссылка на 2 страницу
